.uploadSection {
    //background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-weight: 500;
        font-size: 25px;
        line-height: 25px;
        letter-spacing: 0.2px;
        font-family: 'Basier Circle SemiBold';
    }
}